
<h1>MY WISHLIST</h1>

<div id="wall-content">

    <div class="wishlist-main-container">
            
            <form action="/process-wishlist-item" method="POST">

                <div class="wishlist-form">
                
                    <input id="wishlist-input" type="text" name="title" placeholder="Any gift ideas?">

                    <input type = "hidden" name = "roomId" value = {{roomId}}>
                    <input type = "hidden" name = "userId" value = {{userId}}>
                    <input type = "hidden" name = "wallId" value = {{wall._id}}>

                    <button>➕</button>

                </div>
                
            </form>
            

        <div class="wishlist-itself">
            {{#wall.wishlist}}

                <span>
                    <div class="wishlist-item-card">

                        <p><a href="#">❤️</a> {{this.title}}</p>

                        {{#if this.claimedBy}}
                            <p>✅ {{this.claimedBy.fullName}}</p>
                        {{else}}
                        <form action="/process-claim" method= "POST">
                            <input type="hidden" name="wallId" value={{../wall._id}}>
                            <input type="hidden" name="item" value="{{this.title}}">
                            <input type="hidden" name="roomId" value={{../roomId}}>
                            <button>Claim</button>
                        </form>
                        {{/if}}

                    </div>

                </span>
            {{/wall.wishlist}}
        </div>

    </div>

    {{!-- <div class="comments-main-container">

        <div class="comments-itself">
            {{#wall.comments}}
                {{this.message}}
            {{/wall.comments}}
        </div>

        <div class="comments-form">

            <h2>Add a comment</h2>
            <form action = "/process-comments" method="POST">
                <label for="wall-comment-message">Message:</label><br><br>
                <textarea id="wall-comment-message" type="text" name="message"></textarea><br><br>

                <input type = "hidden" name = "roomId" value = {{roomId}}>
                <input type = "hidden" name = "userId" value = {{userId}}>
                <input type = "hidden" name = "wallId" value = {{wall._id}}>

                <button>Add</button>

        </div>

    </div> --}}

</div>
<br><br>
