
<h1>{{wallUser.fullName}}'s WISHLIST</h1>


<div id="wall-content">   



    <div class="wishlist-main-container">
            
            <form action="/process-wishlist-item" method="POST">

                <div class="wishlist-form">
                
                    <input id="wishlist-input" type="text" name="title" placeholder="Any gift ideas?">

                    <input type = "hidden" name = "roomId" value = {{roomId}}>
                    <input type = "hidden" name = "userId" value = {{userId}}>
                    <input type = "hidden" name = "wallId" value = {{wall._id}}>

                    <button>➕</button>

                </div>
                
            </form>
            

        <div class="wishlist-itself">
            {{#wall.wishlist}}

                <span>
                    <div class="wishlist-item-card">

                        <p><a href="#">❤️</a> {{this.title}}</p>

                        {{#if this.claimedBy}}
                            <p>✅ {{this.claimedBy.fullName}}</p>
                        {{else}}
                        <form action="/process-claim" method= "POST">
                            <input type="hidden" name="wallId" value={{../wall._id}}>
                            <input type="hidden" name="item" value="{{this.title}}">
                            <input type="hidden" name="roomId" value={{../roomId}}>
                            <button>Claim</button>
                        </form>
                        {{/if}}

                    </div>

                </span>
            {{/wall.wishlist}}
        </div>

    </div>

        <div class="comments-main-container">

            <form action = "/process-comments" method = "POST">

                <div class="comments-form">

                    <input id="comments-input" type="text" name="message" placeholder="Any comments?">

                    <input type="hidden" name = "roomId" value = {{roomId}}>
                    <input type="hidden" name = "userId" value = {{userId}}>
                    <input type="hidden" name = "wallId" value = {{wall._id}}>

                    <button>➕</button>
            
                </div>

            </form>

            <div class="comments-itself">

                {{#wall.comments}}
                    <div class="comment-card">
                        <p>{{this.creator.fullName}}:</p>
                        <p>{{this.message}}</p>
                    </div>
                {{/wall.comments}}

            </div>

        </div>

</div>