<h1>{{wallUser.fullName}}'s WISHLIST</h1>

{{#wall.wishlist}}
    <span><p>{{this.title}}</p> <button>Claim</button></span>

{{/wall.wishlist}}
   
<br><br>
    {{#wall.comments}}
    <p> says: </p>
    {{this.message}} <br/>
       
    {{/wall.comments}}

   

<h2>Add a Comment</h2>
<form action = "/process-comments" method = "POST">

    <label>
        Your comment:
        <input type = "text" name = "message"> 
    </label>
    <br />

    <input type="hidden" name = "roomId" value = {{roomId}}>
    <input type="hidden" name = "userId" value = {{userId}}>
    <input type="hidden" name = "wallId" value = {{wall._id}}>

<button>Add</button>
</form>